
h1 {
	font-family: Syncopate;
}
h2 a { text-decoration : none; color :inherit; }
h2 {
	font-family: Syncopate;
	font-size: 1.2em;
	line-height: 1.2em;
	-webkit-margin-after: 0;
}	
body {
	font-family: 	"Helvetica Neue",Helvetica,Arial,sans-serif ;
	font-size:		14px;
	padding-top:		110px;
}

.header {
	h1 a { text-decoration : none; color :inherit; }
	padding:  26px 0;
	top : 0;
	background-color: white;
	z-index: 999;
}


.home {
	padding-top: 	1*80px;
	padding-bottom: 1*80px;
	//background-color: #5081B5;
	//box-shadow: inset 0 0 80px white;
	.btn {
		font-family: Syncopate;
		line-height: 38px;
		font-size:  30px;
		padding-top: 14px;
		padding-bottom: 14px;
		width:	4*80px;
	}
}

.post {
	h2, h3 {
		font-size:	 1.4em;
		line-height: 20px;
		display: inline-block;		
	}
	h2 {
		font-weight: bold;
		margin-right: 1ex;
		//margin: 0;
		&:before , &:after { content : '"' }
	}
	h3 {
		font-weight: normal;
		&:before { content : "  de " }
	}
	
	.chords {
		display: block;
	}
	.chords + .chords {
		margin-top: 7px;
	}
	
	.diagram {
		margin-top: 7px;
	}
}

.license {
	margin-top: 14px;
}
	


.editor {
	padding: 6px;
	box-sizing:  border-box;
	width: 100%;
	min-height: 196px;
	background-color : darken(white, 5%);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset -1px -1px 2px 0px white;
	-webkit-box-shadow: inset -1px -1px px 2px 0px white;
	-o-box-shadow: inset -1px -1px 2px 0px white;
	box-shadow: inset -1px -1px 2px 0px white;
	border: 1px solid darken(white, 7%);
}




@media print {
	.no-print { display: none;}
 	body { padding-top:	 0px; }
	.editor {
		border : 0px solid transparent;
		padding: 0;
		background-color: transparent;
	}
}

.ng-cloak {
	display: none;
}

