<div class="row no-print">
	<div class="span12">
		<h2><a href="../" class="pull-right"><i class="icon-circle-arrow-up"></i></a>
		Editer votre grille</h2>
	</div>
</div>
<div class="row no-print">
	<div class="span12">
		<hr/>
	</div>
</div>
<div class="row">
	<div class="span12 ng-cloak" ng-controller="EditorController" >
		<form class="no-print">
			<div  class="alert alert-error pull-right hide" id="message"></div>
			<input type="text" ng-model="title" class="span4" placeholder="Titre"/><br>
			<input type="text" ng-model="author" class="span4" placeholder="Auteur(s)"/><br>
			<textarea placeholder="Am | G | C | Em ..." class="span6" rows="5" ng-model="chords" ng-change="render()" chords-render="#editorView" chords-message="#message"></textarea>
		</form>
		<div class="editor post">
			<div ng-show="title || author">
				<h2 ng-show="title"  ng-cloack>((title))</h2>
				<h3 ng-show="author"  >((author))</h3>
			</div>
			<canvas id="editorView"></canvas>
		</div>
	</div>
</div>
