<div class="row">
	<div class="span12">
		<h2><span data-target="#nav" data-toggle="tab" class="pull-right"><i class="icon-circle-arrow-up"></i></span>
		Listes des morceaux</h2>
	</div>
</div>
<div class="row">
	<div class="span12">
		<hr/>
	</div>
</div>
<div class="row">
	<div class="span12" ng-controller="ListController">
		<form class="form-search">
			<div class="input-append">
				<input type="text" ng-model="query" class="span2 search-query"/>
				<button type="submit" class="btn">Search</button>
			</div>
		</form>
		<ul class="nav nav-stacked nav-pills" ng-cloak >
			<li ng-repeat="p in posts | filter:query | orderBy:'title'"><a ng-href=".((p.url))"><strong>((p.title))</strong> de ((p.author))</a></li>
		</ul>    
	</div>
	<div class="hide">
	{% for post in site.posts %}
	  <a href=".{{ post.url }}">{{ post.title }}</a>
	{% endfor %}
	</div>
</div>